* {
  margin: 0;
  overflow: 0;
  box-sizing: border-box;
  transition: all 0.3s;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.section {
  padding: 0 8rem;
}
